<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Ubicaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_consultas.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik"></script>
    <script src="{{ url_for('static', filename='script_consultas.js') }}" defer></script>
</head>
<body>
    <h1>Ubicaciones Guardadas</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Timestamp</th>
            <th>Acción</th>
        </tr>
        {% for ubicaciones in ubicaciones %}
        <tr>
            <td>
                <button class="deleteButton" data-id="{{ ubicaciones.id }}">Eliminar</button>
            </td>
            <td>{{ ubicaciones.id }}</td>
            <td>{{ ubicaciones.latitud }}</td>
            <td>{{ ubicaciones.longitud }}</td>
            <td>{{ ubicaciones.timestamp }}</td>
            <td>
                <button class="mapButton" data-lat="{{ ubicaciones.latitud }}" data-lng="{{ ubicaciones.longitud }}">Ver Mapa</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('logout') }}">Cerrar Sesión</a>

    <!-- Modal para mostrar el mapa -->
    <div id="mapModal">
        <div id="mapContainer">
            <button class="closeButton">Cerrar</button>
            <div id="map"></div>
        </div>
    </div>
</body>
</html>
