<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enviar Ubicación - LocateME</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style_locator.css')}}">
</head>
<body>
  <h1>Enviar Ubicación</h1>

  <!-- Contenedor del mapa -->
  <div id="map" style="width: 100%; height: 400px; margin-bottom: 20px;"></div>

  <button id="btnubi" class="btnubi" onclick="navigator.geolocation.getCurrentPosition(mostrarUbicacion, mostrarError)">Obtener Ubicación</button>
  <button id="sendLocationButton" class="btnBuscar" onclick="enviarUbicacion()">Enviar Ubicación</button>
  <br>
  <a href="/logout">Cerrar Sesión</a>

  <!-- Scripts necesarios -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik"></script>
  <script src="{{url_for('static', filename='script_mapa.js')}}"></script>
</body>
</html>
